body{  
    background: #929fb5;  
    height: 100vh;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    flex-direction: column;  
   }  
   h1 {  
    text-align: center;  
    margin-top: 3rem;  
    color: #262320;
   }  
{  
    
   
   /*Button Three*/  

    
   .button-three:hover {  
    background:rgb(201, 192, 226);
    box-shadow: 0px 2px 10px 5px #6AC5DF;  
    color: rgba(0, 0, 0, 0);  
   }  
   
