body{  
    background: #929fb5;  
    height: 100vh;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    flex-direction: column;  
   }  
   h1 {  
    text-align: center;  
    margin-top: 3rem;  
    color: #262320;
   }  
   /*Button Three*/  

    
   .button-three:hover {  
    background:rgb(201, 192, 226);  
    color: rgba(0, 0, 0, 0);  
   }  
   .button-three:after {  
    content: "";  
    background: #6AC5DF;  
    display: block;  
    position: absolute;  
    padding-top: 300%;  
    padding-left: 350%;  
    margin-left: -20px !important;  
    margin-top: -120%;  
    opacity: 0;  
    transition: all 0.8s;  
   }  
   .button-three:active:after {  
    padding: 0;  
    margin: 0;  
    opacity: 1;  
    transition: 0s;  
   }  
